/.gradle/8.6/dependencies-accessors/*
/.gradle/8.6/executionHistory/executionHistory.bin
/.gradle/8.6/executionHistory/executionHistory.lock
/.gradle/8.6/fileChanges/last-build.bin
/.gradle/8.6/fileHashes/fileHashes.bin
/.gradle/8.6/fileHashes/fileHashes.lock
/.gradle/8.6/fileHashes/resourceHashesCache.bin
/.gradle/8.6/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/config.properties
/.gradle/file-system.probe
/app/build/*
